In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("spam.csv",encoding='latin1')

In [5]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
df1 = df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis = 1)
df1.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df1.isnull().sum()

v1    0
v2    0
dtype: int64

In [8]:
df1.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [22]:
df2 = df1
df2['v1'] = df1['v1'].apply(lambda x : 1 if x == 'ham' else 0)
df2.head()

   v1                                                 v2
0   1  Go until jurong point, crazy.. Available only ...
1   1                      Ok lar... Joking wif u oni...
2   0  Free entry in 2 a wkly comp to win FA Cup fina...
3   1  U dun say so early hor... U c already then say...
4   1  Nah I don't think he goes to usf, he lives aro...

In [30]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df2['v2'],df2['v1'])
x_train

985     Carlos says he'll be at mu in  &lt;#&gt;  minutes
242     Okay. No no, just shining on. That was meant t...
4168    Haven't heard anything and he's not answering ...
3664                Ha... U jus ate honey ar? So sweet...
1554                      Yeah we do totes. When u wanna?
                              ...
3229    I feel like a dick because I keep sleeping thr...
4366    I like dis sweater fr mango but no more my siz...
1133    As I entered my cabin my PA said, '' Happy B'd...
227                        Hey company elama po mudyadhu.
3758    GOD ASKED, \What is forgiveness?\" A little ch...
Name: v2, Length: 4179, dtype: object

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_transformed = v.fit_transform(x_train.values)

In [39]:
x_train_transformed.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [1]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_transformed,y_train)

NameError: name 'x_train_transformed' is not defined

In [43]:
emails = [
    'Warning! You won 50000$ dollars, exclusive offer for you',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 0], dtype=int64)